<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="databaseServiceConfigs" type="ZeroG.Data.Database.DatabaseServiceSection, ZeroG.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                 allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </configSections>
    <databaseServiceConfigs>
        <!-- This connection is used for updating the Test DB's schema -->
        <!--<config name="ObjectIndexSchema" 
                type="ZeroG.Data.Database.Drivers.MySQLDatabaseService, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=127.0.0.1;Database=ZeroGTestDB;Uid=ZeroGSchema;Pwd=####;CharSet=utf8" />-->
        <config name="ObjectIndexSchema" type="ZeroG.Data.Database.Drivers.SQLiteDatabaseService, ZeroG.Database.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" connStr="Data Source=ZG_Test.db3;Version=3;Pooling=True;Max Pool Size=10;Synchronous=off;FailIfMissing=False;Journal Mode=Off;" />
      
        <!-- This connection is used for updating/reading data from the Test DB -->
        <!--<config name="ObjectIndexData"
                type="ZeroG.Data.Database.Drivers.MySQLDatabaseService, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=127.0.0.1;Database=ZeroGTestDB;Uid=ZeroGData;Pwd=####;CharSet=utf8" />-->
        <config name="ObjectIndexData" type="ZeroG.Data.Database.Drivers.SQLiteDatabaseService, ZeroG.Database.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" connStr="Data Source=ZG_Test.db3;Version=3;Pooling=True;Max Pool Size=10;Synchronous=off;FailIfMissing=False;Journal Mode=Off;" />
    </databaseServiceConfigs>
    <appSettings>
      <add key="ObjectServiceDataDir" value="D:\Temp\ZeroGTestData" />
      <!--<add key="ObjectIndexProvider" value="ZeroG.Data.Database.Drivers.Object.Provider.SQLObjectIndexProvider, ZeroG.Database.SQLServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
      <!--<add key="ObjectIndexProvider" value="ZeroG.Data.Database.Drivers.Object.Provider.MySQLObjectIndexProvider, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
      <add key="ObjectIndexProvider" value="ZeroG.Data.Database.Drivers.Object.Provider.SQLiteObjectIndexProvider, ZeroG.Database.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      
      <!-- These override the default Database Service connection names used by the Object Service -->
      <!--<add key="ObjectIndexSchemaConnection" value="ObjectIndexSchema" />-->
      <add key="DatabaseServiceType" value="ZeroG.Data.Database.Drivers.SQLiteDatabaseService, ZeroG.Database.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      
      <add key="ObjectIndexSchemaConnStr" value="Data Source=ZG_Test.db3;Version=3;Pooling=True;Max Pool Size=10;Synchronous=off;FailIfMissing=False;Journal Mode=Off;" />
      <add key="ObjectIndexDataConnStr" value="Data Source=ZG_Test.db3;Version=3;Pooling=True;Max Pool Size=10;Synchronous=off;FailIfMissing=False;Journal Mode=Off;" />
      
      <!--<add key="ObjectIndexDataConnection" value="ObjectIndexData" />-->
      <!--<add key="ObjectIndexDataDriver" value="ZeroG.Data.Database.Drivers.SQLiteDatabaseService, ZeroG.Database.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
      
      <add key="ObjectIndexCacheEnabled" value="False" />
      <add key="MaxObjectDependencies" value="5" />
    </appSettings>
</configuration>