<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="databaseServiceConfigs" type="ZeroG.Data.Database.DatabaseServiceSection, ZeroG.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                 allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </configSections>
    <databaseServiceConfigs>
        <!-- This connection is used for updating the Test DB's schema -->
        <config name="MySQLSchemaUpdater" 
                type="ZeroG.Data.Database.Drivers.MySQLDatabaseService, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=***;Database=***;Uid=ZeroGSchema;Pwd=***;CharSet=utf8" />
        <!-- This connection is used for updating/reading data from the Test DB -->
        <config name="MySQLDataAccess"
                type="ZeroG.Data.Database.Drivers.MySQLDatabaseService, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=***;Database=***;Uid=ZeroGData;Pwd=***;CharSet=utf8" />
        <!-- This connection is used for updating the Test DB's schema -->
        <config name="SQLServerSchemaUpdater" 
                type="ZeroG.Data.Database.Drivers.SQLDatabaseService, ZeroG.Database.SQLServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=***;Database=***;Uid=***;Pwd=***;CharSet=utf8" />
        <!-- This connection is used for updating/reading data from the Test DB -->
        <config name="SQLServerDataAccess"
                type="ZeroG.Data.Database.Drivers.SQLDatabaseService, ZeroG.Database.SQLServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=***;Database=***;Uid=***;Pwd=***;CharSet=utf8" />
        <!-- This connection is used for updating the Test DB's schema -->
        <config name="ObjectIndexSchema" 
                type="ZeroG.Data.Database.Drivers.MySQLDatabaseService, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=***;Database=***;Uid=ZeroGSchema;Pwd=***;CharSet=utf8" />
        <!-- This connection is used for updating/reading data from the Test DB -->
        <config name="ObjectIndexData"
                type="ZeroG.Data.Database.Drivers.MySQLDatabaseService, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                connStr="Server=***;Database=***;Uid=ZeroGData;Pwd=***;CharSet=utf8" />
    </databaseServiceConfigs>
    <appSettings>
      <add key="ObjectServiceDataDir" value="C:\Temp\ZeroGTestData" />
      <!--<add key="ObjectIndexProvider" value="ZeroG.Data.Database.Drivers.Object.Provider.SQLObjectIndexProvider, ZeroG.Database.SQLServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
      <add key="ObjectIndexProvider" value="ZeroG.Data.Database.Drivers.Object.Provider.MySQLObjectIndexProvider, ZeroG.Database.MySQL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      
      <!-- These override the default Database Service connection names used by the Object Service -->
      <add key="ObjectIndexSchemaConnection" value="MySQLSchemaUpdater" />
      <add key="ObjectIndexDataConnection" value="MySQLDataAccess" />
      <add key="ObjectIndexCacheEnabled" value="False" />
      <add key="MaxObjectDependencies" value="5" />
    </appSettings>
</configuration>